#!/usr/bin/env bash

# NeoVim as default editor
export EDITOR='nvim +"set ft=bash"'

# use ibus as our input methods
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

# debian develop
export DEBEMAIL="atlas.yu@canonical.com"
export DEBFULLNAME="Atlas Yu"

export GPG_TTY=$(tty)
