#!/usr/bin/env bash

# NeoVim as default editor
export EDITOR='nvim +"set ft=bash"'

# use fcitx as our input methods
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx

# debian develop
export DEBEMAIL="atlas.yu@canonical.com"
export DEBFULLNAME="Atlas Yu"

export GPG_TTY=$(tty)
